@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Spicy+Rice&display=swap);

.title {
  font-family: "Spicy Rice", cursive;
  text-align: start;
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.name-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.input-name {
  outline: none;
  border-color: white;
  text-align: center;
  width: 80%;
  min-width: 290px;
  min-height: 40px;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #588b97;
  background-color: #ffffff;
  box-shadow: 0 0 10px;
}

.adress-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.input-adress {
  outline: none;
  border-color: white;
  text-align: center;
  width: 80%;
  min-width: 290px;
  min-height: 40px;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #588b97;
  background-color: #ffffff;
  box-shadow: 0 0 10px;
}

.country-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
  /* margin-top: 20px; */
}

.adress-details-component {
  display: flex;
  justify-content: flex-start;
  /* gap: 0.01px; */
  /* flex-direction: row; */
  margin-top: 20px;
}

.input-zip-code {
  outline: none;
  border-color: white;
  text-align: center;
  width: 70%;
  margin-right: 100px;
  padding: 0px;

  /* min-width: 290px; */
  min-height: 40px;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #588b97;
  background-color: #ffffff;
  box-shadow: 0 0 10px;
}

.country-component,
.zip-code-component {
  margin-right: 8%; /* Adjust this value as needed */
}

.city-component,
.zip-code-component {
  margin-right: 3%; /* Adjust this value as needed */
}

.zip-code-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-right: 50px; */
}

.input-city {
  outline: none;
  border-color: white;
  text-align: center;
  width: 200px;
  min-height: 40px;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #588b97;
  background-color: #fff;
  box-shadow: 0 0 10px;
  /* text-align: left; */
}

.city-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.room-component {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bathroom-component {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.amenities-component {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.description-component {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-description {
  outline: none;
  border-color: white;
  text-align: center;
  width: 75%;
  min-width: 300px;
  min-height: 100px;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #588b97;
  background-color: #ffffff;
  box-shadow: 0 0 10px;
}

.facilities-component {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.add-property-btn {
  outline: none;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #588b97;
  cursor: pointer;
  font-size: 20px;
  font-family: "Spicy Rice", cursive;
  box-shadow: 0 0 50px;
}

.add-property-btn:hover {
  outline: none;

  background-color: #f7f7f7;
  color: #588b97;
}

.price-component {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-price {
  outline: none;
  border-color: white;
  text-align: center;
  width: 150px;
  min-height: 40px;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #588b97;
  background-color: #fff;
  box-shadow: 0 0 10px;
}
