@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Spicy+Rice&display=swap);

.show-details {
  margin-top: 50px;
  width: 230px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #588b97;
  cursor: pointer;
  font-size: 20px;
  font-family: "Spicy Rice", cursive;
  box-shadow: 0 0 50px;
}

.show-details:hover {
  background-color: #f7f7f7;
  color: #588b97;
}

.email-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slideDown 2s ease-out forwards;
  margin-left: 300px;
}
.total-trips-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slideDown 2s ease-out forwards;
  margin-left: 300px;
  margin-top: 20px;
}
.first-name-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slideDown 2s ease-out forwards;
  margin-left: 300px;
  margin-top: 20px;
}
.last-name-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slideDown 2s ease-out forwards;
  margin-left: 300px;
  margin-top: 20px;
}

.title-display {
  font-family: "Spicy Rice", cursive;
  font-size: 20px;
  color: #588b97;
}

.info-display {
  min-width: 290px;
  border-radius: 8px;
  font-family: "Spicy Rice", cursive;
  font-size: 30px;
  color: #588b97;
  background-color: #ffffff;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
